body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header,
main {
  padding: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
}
s p {
  color: #0ea5e9;
}

section {
  margin-bottom: 2rem;
}

#projects,
#skills {
  margin-top: 2rem;
}
